{% extends "layouts/main.html" %}

{% set pageName="Search for a legal document" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="111-front-door.html" class="govuk-back-link">Back</a>

      <h1 class="govuk-label-wrapper">
        <label class="govuk-heading-xl">
          Housing, homelessness, loosing your home
        </label>
      </h1>

      <p class="govuk-body-l">Choose the problem you most need help with.</p>

  <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Forced to sell your home</a>
      <div>
        <p class="govuk-template-body">By your mortgage company, or because of bankruptcy or other debt
        </p>
      </div>
  
   <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Eviction, being told to leave your home</a>
      <div>
        <p class="govuk-template-body">Landlord or housing association has told you to leave or is forcing you out; Section 8 or Section 21 notices
        </p>
      </div>

      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Repairs, health and safety</a>
      <div>
        <p class="govuk-template-body">House is not safe to live in, needs serious repairs, causing health issues; overcrowded housing
        </p>
      </div>

      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Homelessness and council housing</a>
      <div>
        <p class="govuk-template-body">Problems getting council housing, nowhere to live, you can no longer live in your house
        </p>
      </div>
   
      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Being threatened or harassed where you live</a>
      <div>
        <p class="govuk-template-body">By a landlord or neighbour; getting court orders for anti-social behaviour.
        </p>
      </div>

      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Domestic abuse</a>
      <div>
        <p class="govuk-template-body">Leaving home because of domestic abuse, getting housing, experiencing domestic abuse where you live (including by ex-partners); stalking and harassment.
        </p>
      </div>

      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Racism, sexism, homophobia, other discrimination</a>
      <div>
        <p class="govuk-template-body">Discrimination, treated unfairly by a landlord, council or housing association because of race, religion, sex, gender, pregnancy or maternity, your age, disability or sexual orientation.
        </p>
      </div>

      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Accused of anti-social behaviour</a>
      <div>
        <p class="govuk-template-body">Help with an injunction, Community Protection Notice (CPN) or Criminal Behaviour Order (CBO).
        </p>
      </div>
  
  </div>

  
</div>

{% endblock %}
