{% extends "layouts/main.html" %}

{% set pageName="Search for a legal document" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="111-front-door.html" class="govuk-back-link">Back</a>

      <h1 class="govuk-label-wrapper">
        <label class="govuk-heading-xl">
          Schools, education, special educational needs and disability (SEND)
        </label>
      </h1>

      <p class="govuk-body-l">Choose the problem you most need help with.</p>

  <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">
    Help with a child or young person's SEN or disability</a>
      <div>
        <p class="govuk-template-body">
          Help getting a needs assessment for your child (under 25); getting an EHCP, challenging an EHCP, getting the school or local authority to do what’s set out in an EHCP.
        </p>
      </div>
  
   <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">
    SEND tribunals</a>
      <div>
        <p class="govuk-template-body">
          Applying for or going to a SEND tribunal, appealing a decision by a tribunal.
        </p>
      </div>

      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">
        Child treated unfairly because of SEND</a>
      <div>
        <p class="govuk-template-body">
          Discrimination, child treated differently in school or other education setting because of their SEND; or if you’ve been treated badly for complaining about this.
        </p>
      </div>

      <a href="" class="govuk-heading-m govuk-!-margin-bottom-2">
        School acting unlawfully, judicial review</a>
      <div>
        <p class="govuk-template-body">
          School or other education setting has broken the law; you were advised to bring a judicial review.
        </p>
      </div>
  
  </div>

  
</div>

{% endblock %}
