{% extends "layouts/main.html" %}

{% set pageName="Search for a legal document" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="index.html" class="govuk-back-link">Back</a>

      <h1 class="govuk-label-wrapper">
        <label class="govuk-heading-xl">
          Find problems covered by legal aid
        </label>
      </h1>

      <p class="govuk-body-l">These are all the issues covered by legal aid. Choose the problem you most need help with.</p>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Children, families and relationships</a>
      <div id="signIn-item-hint" class="govuk-template__body">
        Includes social services, children in care; divorce or separation, disputes about children and finances; domestic abuse.
      </div>
    </li>
  <li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Domestic abuse, harassment
    </a>
      <div id="signIn-item-hint" class="govuk-template__body">
        Includes abuse, threats, harassment, stalking, made to feel unsafe by a partner, ex-partner or someone else; worried about a child.
      </div>
<li><a href="111-housing.html" class="govuk-heading-m govuk-!-margin-bottom-2">Housing, homelessness, losing your home </a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Includes being evicted, forced to sell your home; problems with landlords, council housing, repairs or neighbours.
  </div>
</li>
<li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Care for old age, health issues or disability; mental capacity
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Includes getting care or funding from the council or NHS; problems with quality of care; help if someone cannot look after themselves.
  </div>
</li>
<li><a href="111-education.html" class="govuk-heading-m govuk-!-margin-bottom-2">Schools, education, special educational needs and disability (SEND)
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Includes EHCP, needs assessments, SEND tribunals; unfair treatment at school due to SEND; judicial reviews.
  </div>
</li>
<li><a href="111-discrimination.html" class="govuk-heading-m govuk-!-margin-bottom-2">Racism, sexism, homophobia, other discrimination
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Treated unfairly because of your race, sex, disability or health condition, religion, age, sexual orientation, gender, pregnancy or maternity.
  </div>
</li>
<!--<li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Mental health detention
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    If you’ve been detained under the Mental Health Act (sectioned); community treatment orders; mental health tribunals; Court of Protection.
  </div>
</li>-->
<!--<li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Legal action against public bodies
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Police, government, prisons, NHS, local authorities, courts or other organisations that have power to make decisions about you.
  </div>
</li>-->
  <!--<li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Appeal a benefits decision
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Only for appeals to the Upper Tribunal (Administrative Appeals Chamber). 
  </div>
</li>-->
<!--<li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Ayslum, immigration, trafficking, modern slavery
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Applying for asylum; staying in the UK if you’re a victim of domestic abuse; immigration detention bail.
  </div>
</li>-->
<li><a href="" class="govuk-heading-m govuk-!-margin-bottom-2">Sexual assault, child abuse, forced marriage, FGM
</a>
  <div id="signIn-item-hint" class="govuk-template__body">
    Worried about someone related to forced marriage or FGM; claims for sexual assault or child abuse.
  </div>
</li>
  </ul>

  <h2 class="govuk-heading-m">Other problems</h2>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li><a href="" class="govuk-template__body">Appeal a benefits decision</a>
      <div id="signIn-item-hint" class="govuk-template__body">
        Only for appeals to the Upper Tribunal (Administrative Appeals Chamber).
      </div>
    </li>
    <li><a href="" class="govuk-template__body">Ayslum, immigration, trafficking, modern slavery</a>
      <div id="signIn-item-hint" class="govuk-template__body">
        Includes applying for asylum; staying in the UK if you’re a victim of domestic abuse; immigration detention bail.
      </div>
    </li>
    <li><a href="" class="govuk-template__body">Legal action against public bodies</a>
      <div id="signIn-item-hint" class="govuk-template__body">
        Police, government, prisons, NHS, local authorities, courts or other organisations that have power to make decisions about you.
      </div>
    </li>
    <li><a href="" class="govuk-template__body">Mental health detention</a>
      <div id="signIn-item-hint" class="govuk-template__body">
        If you’ve been detained under the Mental Health Act (sectioned); community treatment orders; mental health tribunals; Court of Protection.
      </div>
    </li>
    
    <p class="govuk-body govuk-!-margin-bottom-9"> </p>
    <div>
    <a href="front-door.html" class="govuk-button">Go to next concept</a>
  </div>

     <!--<a href="" class="govuk-heading-m">Housing, homelessness, losing your home </a></h2>
        <p>Being evicted, forced to sell your home, problems with landlords, council housing, repairs or neighbours.
        </p>

        <h2><a href="" class="govuk-heading-m">Children, families and relationships</a></h2>
        <p>Social services, children in care; divorce or separation, disputes about children and finances; domestic abuse.
        </p>

        <h2><a href="" class="govuk-heading-m">Schools, education, special educational needs and disability (SEND)</a></h2>
        <p>EHCP, needs assessments, SEND tribunals; unfair treatment at school due to SEND; judicial reviews.
        </p>

        <h2><a href="" class="govuk-heading-m">Care for old age, health issues or disability; mental capacity
        </a></h2>
        <p>Getting care or funding from the council or NHS; problems with quality of care; help if someone cannot look after themselves.
        </p>

        <h2><a href="" class="govuk-heading-m">Domestic abuse, harassment
        </a></h2>
        <p>Abuse, threats, harassment, stalking, made to feel unsafe by a partner, ex-partner or someone else; worried about a child.
        </p>

        <h2><a href="" class="govuk-heading-m">Racism, sexism, homophobia, other discrimination
        </a></h2>
        <p>Treated unfairly because of your race, sex, disability or health condition, religion, age, sexual orientation, gender, pregnancy or maternity.
        </p>

        <h2><a href="" class="govuk-heading-m">Mental health detention
        </a></h2>
        <p>If you’ve been detained under the Mental Health Act (sectioned); community treatment orders; mental health tribunals; Court of Protection.
        </p>

        <h2><a href="" class="govuk-heading-m">Legal action against public bodies
        </a></h2>
        <p>Police, government, prisons, NHS, local authorities, courts or other organisations that have power to make decisions about you.
        </p>

        <h2><a href="" class="govuk-heading-m">Appeal a benefits decision
        </a></h2>
        <p>Only for appeals to the Upper Tribunal (Administrative Appeals Chamber).
        </p>-->
</div>



  
  </div>

  
</div>

{% endblock %}
