{% extends "layouts/main.html" %}

{% set pageName="Search for a legal document" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="searching-legal-docs.html" class="govuk-back-link">Back</a>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="more-detail">
          Tell us more about the problem
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Do not include personal or financial information, like your National Insurance number or credit card details.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

<a href="111-front-door.html" class="govuk-button">Go to next concept</a>

    


</div>


   
  
  </div>

  
</div>

{% endblock %}
