{% extends "layouts/main.html" %}

{% set pageName="Search for a legal document" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="111-front-door.html" class="govuk-back-link">Back</a>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What do you need help with?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              A legal document
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              A letter, notice, court order or injunction.
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
             Going to court or a tribunal
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Appealing a decision
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              By a court, tribunal, local authority or government department.
            </div>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
              I have a problem and want legal help
            </label>
          </div>
        </div>
      </fieldset>
    </div>


   
      <a href="searching-legal-docs.html" class="govuk-button">Go to next concept</a>
          
    </div>




</div>


   
  
  </div>

  
</div>

{% endblock %}
