{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      UR Round 1: Concept testing
    </h1>
    <p>This prototype contains 4 concepts for testing.</p>

    <ol class="govuk-list govuk-list--number">
      <li>Asking 'What do you need legal help or advice with?'</li>
      <li>Searching for a legal document from a list</li>
      <li>Free-text entry</li>
      <li>Find problems covered by legal aid </li>
    </ol>
    <a href="front-door.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  
  </div>
</div>

{% endblock %}
